= render :partial => "layouts/header"

%div.jumbotron.most-viewed.about-us
	%div.container.mini-boxes

		%div.row
			%h4 StartupTrends to projekt, którego celem jest gromadzenie innowacyjnych polskich startup'ów oraz produktów, które dopiero zaczynają swoją działaność. Przed nimi długa droga, aby zdobyć rozgłos i wymarzonych klientów. Być może część z nich w niedalekiej przyszłości odniesie lokalny, a nawet globalny sukces. Chcemy, abyś wiedział o nich pierwszy i miał do nich dostęp od dziś.
		%div.row
			%h2 Zespół StartupTrends

			%div.col-md-4
			%div.col-md-4
				= image_tag(asset_path('pawel_skiba.png'), class: "img-circle img-responsive img-team center-block")
				%h3 Paweł Skiba
				%h5 Założyciel StartupTrends. Ma głowę pełną pomysłów, tylko trochę mniej umiejętności. Początkujący Webdeveloper, wielbiciel Startup'ów i dobrego designu. W wolnym czasie podróżuje i bawi się kartami.
			%div.col-md-4
	Chcesz dołączyć do zespołu? Napisz na info@startuptrends.pl