%div.navbar.navbar-inverse.navbar-fixed-top{ :role => "navigation" }
	%div.container
		%div.navbar-header
			%button.navbar-toggle{ :type => "button", :'data-toggle' => "collapse", :'data-target' => ".navbar-collapse" }
				%span.sry-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand StartupList
		%div.collapse.navbar-collapse.pull-right
			%ul.nav.navbar-nav
				%li.active
					%a{ :href => "#" } Home
				%li
					%a{ :href => "#" } Startupy
				%li
					%a{ :href => "#" } Dodaj Startup
				%li
					%a{ :href => "#" } O nas
				%li
					%a{ :href => "#" } Kontakt
