<h2>Witaj!</h2>

<h3>Tutaj StartupTrends. Aby dokończyć proces rejestracji startupu musisz zweryfikować swój adres email. W tym celu naciśnij poniższy odnośnik.</h3>

<h2>Aby zweryfikować adres email naciśnij poniższy link:
<%= link_to 'Zweryfikuj email', activation_url(@startup.activation_token), :method => :put %></h2>

 <h3>Wkrótce administrator rozpatrzy Twoje zgłoszenie.</h3>

 <h3>Pozdrawiamy,</h3>
 <h3>Zespół StartupTrends</h3>	