%footer.top-jumb#footer
	%div.container
		%a{ :href => "#" }
			%i.fa.fa-facebook.fa-2x
		%a{ :href => "#" }
			%i.fa.fa-twitter.fa-2x
		%h3 info@getjobe.com
		%h4 StartupList @2014 All rights reserverd.
	