%footer.top-jumb#footer
	%div.container
		%a{ :href => "https://www.facebook.com/pages/StartupTrends/882876335074777" }
			%i.fa.fa-facebook.fa-2x
		%a{ :href => "https://twitter.com/Startup_Trends" }
			%i.fa.fa-twitter.fa-2x
		%h3 info@startuptrends.pl
		%h4 StartupList @2014 All rights reserverd.
	